.banner {
  /*background-color: #3ae89c;
  background: linear-gradient(90deg, #3ae89c 60%, #13234c 60%);*/
  background: linear-gradient(90deg, #3ae89c 60%, rgba(0,0,0,0) 30%), 
              linear-gradient(0deg, #13234c 33%, rgba(0,0,0,0) 30%),
              linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), 
              url('../../images/park.png');
  object-fit: cover;
  background-position: center;
  height: 100vh;
}

.card-welcome-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 74px;
}

.card-welcome-left > h1 {
  margin-bottom: 64px;
  color: white;
  font-size: 80px;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}

.card-welcome-left .buttons {
  margin-top: 100px;
}

.card-welcome-left .btn-subscribe-1 {
  margin-right: 42px;
}

.card-welcome-right {
  display: flex;
  flex-direction: column;
}

.card-welcome-text {
  background-color: #13234c;
  color: white;
  margin-top: 66vh;  
}

.card-welcome-text > p {
  font-size: 24px;
}


@media (max-width: 768px) {
  .card-welcome {
    margin-top: 44px;
    padding: 0px 30px;
  }

  .card-welcome > h5 {
    text-align: left;
  }
}

.img-welcome img {
  max-width: 570px;
  /*transform: translateX(123px);*/
}


@media (max-width: 768px) {
  .img-welcome > img {
    margin-top: 68px;
    max-height: 680px;
  }

  .img-welcome {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}

