.banner {
  /*background-color: #3ae89c;
  background: linear-gradient(90deg, #3ae89c 60%, #13234c 60%);*/
  background: linear-gradient(90deg, #3ae89c 60%, rgba(0,0,0,0) 30%),
              linear-gradient(0deg, #13234c 33%, rgba(0,0,0,0) 30%),
              linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),
              url('../../images/park.png');
  object-fit: cover;
  background-position: center;
  height: 100vh;
}

.card-welcome-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 74px;
}

.card-welcome-left > h1 {
  margin-bottom: 64px;
  color: white;
  font-size: 80px;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}

.card-welcome-left .buttons {
  margin-top: 100px;
}

.card-welcome-left .btn-subscribe-1 {
  margin-right: 42px;
}

.card-welcome-right {
  display: flex;
  flex-direction: column;
}

.card-welcome-text {
  background-color: #13234c;
  color: white;
  margin-top: 66vh;
}

.card-welcome-text > p {
  font-size: 24px;
  font-weight: 100;
}

.welcome-botton {
  /*padding-bottom: 24px;*/
}

.welcome-bottom a {
  margin-left: 35vw;
  font-size: 44px;
  color: #13234c;
  text-decoration: none;
}

/*
@media (max-width: 992px){
  .card-welcome-left > h1 {
    font-size: 80px;
}

@media (min-width: 767.99px) and (max-width: 991.98px){
  .card-welcome-left > h1 {
    font-size: 64px;
  }*/

/*  .card-welcome-left .buttons {
    margin-top: 0px;
  }

  .welcome-bottom {
    margin-top: 48px;
  }

  .welcome-bottom a {
    margin-left: 46vw;
  }*/

@media (max-width: 1200px) {
  .card-welcome-left {
    padding-right: 88px;
  }

  .card-welcome-left > h1 {
    font-size: 74px;
    margin-bottom: 0;
  }

  .card-welcome-text {
    margin-top: 636px;
    margin-left: -24px;
  }

  .welcome-bottom {
    margin-top: -26px;
  }

  .welcome-bottom a {
    margin-left: 43vw;
  }
}

@media (max-width: 1024px) {
  .card-welcome-left > h1 {
    font-size: 64px;
    margin-bottom: 0;
  }

  .card-welcome-left .buttons {
    margin-top: 62px;
  }

  .card-welcome-text {
    margin-top: 450px;
    margin-left: -24px;
  }

  .card-welcome-text p {
    font-size: 20px;
  }

  .welcome-bottom {
    margin-top: -26px;
  }

  .welcome-bottom a {
    margin-left: 46vw;
  }
}

@media (max-width: 992px) {
  .banner {
    background: #3ae89c;
  }

 .card-welcome-left {
    margin-top: 34px;
  }

  .card-welcome-left > h1 {
    font-size: 44px;
  }

  .card-welcome-left .buttons {
    margin-top: 54px;
  }

  .welcome-bottom {
    margin-top: 48px;
  }

  .welcome-bottom a {
    margin-left: 46vw;
  }
}

