.card-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-welcome > h5 {
  text-align: left;
}

@media (max-width: 768px) {
  .card-welcome {
    margin-top: 44px;
    padding: 0px 30px;
  }

  .card-welcome > h5 {
    text-align: left;
  }
}

.img-welcome img {
  max-width: 570px;
  /*transform: translateX(123px);*/
}


@media (max-width: 768px) {
  .img-welcome > img {
    margin-top: 68px;
  }

  .img-welcome {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}

